.banner{
	width: 100%;
	min-width: 1170px;
	overflow: hidden;
	position: relative;

	.banner-image{
		display: block;
		width: 100%;
		height: auto;
		min-width: 100%;
	}

	iframe{
		display: block;
		width: 100%;
		height: 100%;
	}

	@include tablet-landscape{
		width: 100%;
		min-width: 0;

		.banner-image,
		img{
			width: 100%;
			min-width: 320px;
			height: auto;
		}
		&.map{
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;

			img{
				min-width: 0;
			}

			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	.mobile-thumb{
		@include desktop{
			display: none;
		}

		@include tablet-landscape{
			& + .slides{
				display: none;
			}
		}

	}

	/* Event Specs */
	// Used on Group Sales Detail and Location Detail pages
	&.banner.event-specs{
		height: auto;

		ul{
			height: auto;
		}

		li{
			font-size: 16px;
			line-height: 34px;
			color: #fff;
		}

		.page-meta{
			position: relative;
			top: 0;
			padding: 0 0 50px;

			.button{
				float: none;
			}
		}

		.callouts{
			float: left;
			width: 350px;
			margin: 35px 0 0;
			padding: 0;
			list-style: none;

			.callout{
				float: left;
				clear: both;
				margin-bottom: 35px;
				padding: 0 15px 0 40px;
				font: 20px/30px 'DINCond Black', sans-serif;
				text-transform: uppercase;
				background: #0065a3;
				position: relative;

				&:first-child{
					clear: none;
				}

				&:before{
					content: '';
					display: block;
					width: 50px;
					height: 50px;
					border-radius: 50%;
					background: url(../images/ico-callouts.png) no-repeat #0065a3;
					position: absolute;
					left: -10px;
					top: 50%;
					margin-top: -25px;
				}

				&:after{
					content: '';
					display: block;
				    border-bottom: 30px solid transparent;
				    border-left: 5px solid #0065a3;
				    border-right: 5px solid transparent;
				    position: absolute;
				    right: -10px;
				    top: 0;
				}
			}
			.callout-1:before{ background-position: 0 0; }
			.callout-2:before{ background-position: 0 -50px; }
			.callout-3:before{ background-position: 0 -100px; }
			.callout-4:before{ background-position: 0 -150px; }
		}

		h3{
			clear: both;
			margin-top: 35px;
			font: 21px/24px 'DINCond Bold', sans-serif;
			color: #fff;
			text-transform: uppercase;
		}
		.also-included{
			width: 1170px;
			margin: 9px 0 0;
			padding: 0;
			list-style: none;
			font-size: 0;

			li{
				display: block;
				height: 18px;
				margin-top: 10px;
				overflow: hidden;
				margin-right: 1%;
				padding-left: 2%;
				font-size: 16px;
				line-height: 18px;
				position: relative;

				&:before{
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-top: 4px solid transparent;
					border-bottom: 4px solid transparent;
					border-left: 8px solid #fff;
					position: absolute;
					top: 50%;
					margin-top: -4px;
					left: 0;
				}
			}
		}

		@include tablet-landscape{
			padding-top: 0;
			background: #bfbfbf;

			header,
			footer{
				padding: 5%;
			}

			.page-meta{
				padding: 0;
				position: static;


			}
			.page-title{
				margin-top: 0;
			}
			.callouts{
				float: none;
				margin: 0;
				padding: 0 5%;
				width: auto;
				background: #0065a3;

				.callout{
					float: none;
					height: 45px;
					margin: 0;
					border-top: 1px dashed #5895ba;
					padding: 0;
					line-height: 45px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					&:before{
						float: left;
						height: 45px;
						margin: 0 25px 0 0;
						border-radius: 0;
						position: static;
					}

					&:after{
						display: none;
					}

					&:first-child{
						border-top: 0;
					}
				}

				& + .callouts{
					.callout:first-child{
						border-top: 1px dashed #5895ba;
					}
				}
			}

			footer{
				padding-bottom: 70px;
				background: url(../images/bg-shadow-inset-ffffff.png) repeat-x #fff;
				@include filter-gradient(#ffffff, #bfbfbf, vertical);
				@include background-image(linear-gradient(top,  #ffffff 50%,#bfbfbf 100%));

				h3{
					margin: 0;
					font-size: 18px;
					font-family: 'DINCond Black', sans-serif;
					color: #333;
				}
			}
			.also-included{
				width: auto;

				li{
					height: auto;
					margin-top: 10px;
					padding-left: 22px;
					color: #333;

					&:before{
						border-left-color: #939598;
						top: 5px;
						margin-top: 0;
					}

					&:first-child{
						margin-top: 0;
					}
				}
			}

			.flex-control-nav{
				bottom: 20px;
			}
		}
	}

	&.banner.gallery{
		height: auto;

		img{
			width: 100%;
			height: auto;
			min-width: 320px;
		}
	}
}

.page-meta{
	position: absolute;
	top: 110px;
	left: 50%;
	margin-left: -585px;

	.heading-main,
	.heading-sub{
		text-transform: uppercase;
	}
	.page-title{
		font: 30px/70px 'DINCond Light', sans-serif;
		color: #fff;
	}
	.heading-main{
		margin: 0;
		font: 80px/1 'DINCond Black', sans-serif;
		color: #fff;
	}
	.heading-sub{
		margin: 0;
		font: 20px/30px 'DINCond Medium', sans-serif;
		color: #fff;
	}
	p{
		margin-top: 23px;
		font: 16px/26px 'DINCond Medium', sans-serif;
		color: #fff;
	}
	.button{ margin-top: 24px; }

	@include tablet-landscape{
		top: auto;
		bottom: 5%;
		left: 5%;
		margin: 0;

		.page-title{
			line-height: 30px;
		}
		.heading-main{
			font-size: 50px;
		}
		.heading-sub + *,
		.heading-sub,
		.button{
			display: none;
		}
	}
}
.page-home .page-meta .heading-sub,
.page-template-template-landing-php .page-meta .heading-sub{ margin-top: 27px; }

.home{
	.banner{
		.post-edit-link{
			color: #fff;

			&:hover{
				color: #37a139;
			}
		}
	}
}
/*.page-template-template-faq-php,
.page-template-template-landing-php,
.page-template-template-franchise-php,*/
.home,
.page-locations,
.single-location,
.section-combat-sports,
.single-group_sale,
.page-template-template-sales-php,
.page-template-template-landing-php,
.page-template-template-gallery-large-php{
	.banner{
		height: 550px;
	}
	.banner-image{
		width: auto;
		min-height: 100%;
 	}

	@include tablet-landscape{
		.banner{
			height: auto;
		}
		.banner-image{
			width: 100%;
			min-height: 0;
		}
	}
}
.home,
.page-template-template-sales-php,
.page-template-template-landing-php{
	.slides li{ height: 100%; }
}
.single-group_sale,
.page-template-template-sales-php{
	.banner-image{
		position: absolute;
		right: 0;

		@include tablet-landscape{
			position: static;
		}
 	}
}