/* Fonts */
@font-face {
    font-family: 'DINCOnd Black';
    src: url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_black.eot');
    src: url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_black.eot?#iefix') format('embedded-opentype'),
         url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_black.woff') format('woff'),
         url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_black.ttf') format('truetype'),
         url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_black.svg#dincond-blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINCond Medium';
    src: url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_medium.eot');
    src: url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_medium.eot?#iefix') format('embedded-opentype'),
         url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_medium.woff') format('woff'),
         url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_medium.ttf') format('truetype'),
         url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_medium.svg#dincond-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINCond Light';
    src: url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_light.eot');
    src: url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_light.eot?#iefix') format('embedded-opentype'),
         url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_light.woff') format('woff'),
         url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_light.ttf') format('truetype'),
         url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_light.svg#dincond-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINCond Bold';
    src: url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_bold.eot');
    src: url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_bold.eot?#iefix') format('embedded-opentype'),
         url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_bold.woff') format('woff'),
         url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_bold.ttf') format('truetype'),
         url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_bold.svg#dincond-boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINCond Regular';
    src: url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_regular.eot');
    src: url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_regular.eot?#iefix') format('embedded-opentype'),
         url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_regular.woff') format('woff'),
         url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_regular.ttf') format('truetype'),
         url('http://hardknocks.alphatreecloud.com/wp-content/themes/hardknocks/assets/fonts/ff_din_condensed_regular.svg#dincond-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}