/* Footer */
.site-footer{
	padding-top: 33px;
	margin-top: 40px;
	background: url(../images/bg-site-footer.png) repeat-x #ececec;
	clear: both;

	.menu{
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
	}
	.menu-item{ display: inline; }
}

.promotions{
	padding: 60px 0 70px;
	color: #231f20;

	.xoxo{
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		text-align: center;
	}
	.widget-container.widget_text{
		font-size: 20px;
		display: inline-block;
		vertical-align: top;
		width: 370px;
		cursor: pointer;
		position: relative;

		&:before,
		&:after{
			content: '';
			display: block;
			width: 70px;
			height: 70px;
			position: absolute;
			left: 0;
			top: 69px;
			background: url( ../images/ico-promotions.png) no-repeat;
		}

		&:before{ background-position: 0 -70px; }
		&:after{ @include single-transition(opacity); }

		& + .widget-container{
			margin-left: 30px;
			&:before{ background-position: -70px -70px; }
			&:after{ background-position: -70px 0; }

			& + .widget-container{
				&:before{ background-position: -140px -70px; }
				&:after{ background-position: -140px 0; }
			}
		}

		// Locations icon needs to be a bit wider
		& + .widget-container + .widget-container{
			&:before,
			&:after{ width: 74px; }
		}

		&:hover{
			.widget-title{ color: #5ea939; }
			&:after{ opacity: 0; }
		}

		.widget-title{
			font-size: 22px;
			font-family: 'DINCond Black', sans-serif;
			color: #231f20;
			text-transform: uppercase;
			@include single-transition(color);
		}
		.textwidget{
			padding: 20px 0 0 88px;
			border-top: 1px solid #cecece;
			margin-top: 20px;
			font-size: 13px;
			text-align: left;

			&:first-line{
				font-size: 16px;
				font-family: 'DINCond Black', sans-serif;
				color: #333;
				text-transform: uppercase;
			}
		}
		a,a:hover{ color: #333; }
	}

    @include tablet-landscape{
    	padding: 0;
    	background: 0;

    	.xoxo{
    		margin: 0 -5%;
    	}

    	.widget-container.widget_text{
    		float: 0;
    		width: 100%;
    		padding: 95px 0 40px;
    		background: url(../images/bg-shadow-inset-ececec.png) repeat-x;

			&:before,
			&:after{
				left: 50%;
				top: 30px;
				margin-left: -35px;

			}

    		&:first-child{
	    		padding-top: 60px;
	    		background: none;

				&:before,
				&:after{
					top: 0;
				}
	    	}

			& + .widget-container{
	    		margin-left: 0;

		    	// Locations icon needs to be a bit taller
	    		& + .widget-container{
					padding-top: 105px;
					&:before,
					&:after{
						width: 74px;
						margin-left: -37px
					}
				}
	    	}

	    	.textwidget{
	    		padding: 0;
	    		border: 0;
	    		text-align: center;
	    	}
    	}
    }

    @include tablet{
    }
    
    @include phone{
    }
}

.locations{
	padding-bottom: 24px;
	text-align: center;
	text-transform: uppercase;
	background-color: #636363;
	@include filter-gradient(#636363, #6e6e6e, vertical);
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top,  #636363 0px,#6e6e6e 14px, #6e6e6e 100%));
	.ie9 &{ filter: none; }
	.menu &{
		padding: 0;
		background: none;
	}

	.widget-section-title{
		padding-left: 22px;
		margin: 23px 0 32px;
		font: 22px/32px 'DINCond Regular', sans-serif;
		color: #fff;

		&:before{
			content: '';
			display: inline-block;
			width: 16px;
			height: 26px;
			background: url(../images/ico-locations.png) no-repeat;
			position: relative;
			top: 5px;
			left: -5px;
		}
	}
	.xoxo{
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
	}
	.widget-container{
		padding-top: 15px;
		border-top: 1px solid #acabab;
		margin-top: 10px;

		&:first-child{
			padding: 0;
			border: 0;
			margin: 0;
		}
	}
	.widget-title{
		display: none;
	}
	.textwidget{
	}
	.vcard{
		@include box-sizing(border-box);
		width: 25%;
		display: inline-block;
		vertical-align: top;
		padding-left: 12px;
		margin-top: 0;
		text-align: left;
		font: 14px/19px 'DINCond Regular', sans-serif;
		color: #fff;
	}
	.fn a{
		font: 14px/21px 'DINCond Regular', sans-serif;
		color: #fff;
		text-decoration: underline;
	}
	.region{
		border: 0;
	}

	p{
		display: none;
	}

	@include tablet-landscape{
		.xoxo{
			white-space: nowrap;
			overflow-x: auto;
		}

		.widget-container,
		.vcard{
			width: auto;
		}

		.widget-container{
			display: inline-block;
			vertical-align: top;
			margin: 0;
			border: 0;
			padding: 0;
		}

		.vcard + .vcard{
			margin-left: 20px;
		}

		p{
			display: block;
			color: #fff;
			font-weight: bold;
		}
	}
}

.site-info{
	padding: 26px 0 30px;
	color: #333;
	text-align: center;
	text-transform: uppercase;
	background: url(../images/bg-site-info.gif) repeat-x #ddd;

	h4{
		font-size: 22px;
		font-family: 'DINCond Black', sans-serif;
		color: #333;
	}


    @include tablet-landscape{
    	h4{
    		display: none;
    	}
    }
    
    @include tablet{
    }
    
    @include phone{
    }
}

.menu-footer{
	margin-top: 21px;

	.menu-item{
		font-size: 18px;

		& + .menu-item{
			margin: 0 0 0 10px;
			border-left: 1px solid #333;
			padding-left: 10px;
		}
	}

	a{
		border-bottom: 1px solid transparent;
		font-size: 18px;
		font-family: 'DINCond Light', sans-serif;
		color: #333;
		@include single-transition(border-color);

		&:hover{
			color: #333;
			border-bottom-color: #333;
		}
	}

    @include tablet-landscape{
		display: none;
    }
}

.menu-social{
	margin-top: 19px;

	.menu-item{
		display: inline-block;
		& + .menu-item{ margin-left: 30px; }
	}

	a{
		display: block;
		width: 50px;
		height: 50px;
		border: 0;
		border-radius: 50%;
		text-indent: -9999px;
		overflow: hidden;
		background: url(../images/ico-social.png) no-repeat #333;
		@include single-transition(background-color);

		&:hover{
			background-color: #5ea939;
		}
	}
	.instagram a{ background-position: 0 0; }
	.facebook a{ background-position: -50px 0; }
	.twitter a{ background-position: -100px 0; }
	.citysearch a{ background-position: -202px 0; }

    @include tablet-landscape{
		margin-top: 0;
    }
}

.footer-meta{
	height: 60px;
	background: #333;
	font-size: 11px;
	line-height: 60px;
	color: #ddd;
	text-transform: uppercase;

	a{
		color: #ddd;
		border-bottom: 1px solid transparent;
		@include single-transition(border-color);

		&:visited{ color: #ddd; }
		&:hover{
			color: #ddd;
			border-bottom-color: #ddd;
		}
	}

	.menu,.menu-item{ display: inline; }
	.menu-item{
		margin: 0 0 0 10px;
		border-left: 1px solid #ddd;
		padding-left: 10px;
		font-size: 11px;
	}

	.alpha{
		float: right;
		margin: 23px 0 0;
		padding: 0;
		line-height: 13px;
		@include single-transition(border-color);

		&:hover{
			color: #ddd;
			border-bottom-color: #ddd;
		}
	}

    @include tablet-landscape{
    	height: auto;
		text-align: center;

    	.copyright,
    	.alpha{
    		display: block;
    		height: 40px;
	    	line-height: 40px;
    	}
    	.menu{
    		display: none;
    	}
		.alpha{
			float: none;
			margin: 0 -5%;
			background: #231f20;
		}
    }

}
