form{

	h3{
		margin: 0 0 30px;
		font: 22px/1 'DINCond Black', sans-serif;
		color: #231f20;
		text-transform: uppercase;
	}
	.input-wrapper{
		@extend .clearfix;
		margin-top: 0;
		position: relative;
		& + .input-wrapper{
			margin-top: 20px;
		}
		/*label{
			position: absolute;
			top: 0;
			left: 20px;
			line-height: 40px;
			z-index: 1;
		}*/
	}
	.wpcf7-form-control-wrap{
		display: block;
		width: 470px;
	}
	.your-message{ width: 100%; }
	.your-interest .wpcf7-list-item{
		width: 210px;

		& + .wpcf7-list-item + .wpcf7-list-item{
			margin-left: 0;
			clear: left;

			& + .wpcf7-list-item{
				margin-left: 20px;
				clear: none;
			}
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="date"],
	textarea,
	select{
		@include boxsizing;
		width: 100%;
		border: 1px solid #d6d6d6;
		padding: 8px 15px;
		color: #333;
		background: #fff;

		&:focus{
			outline: none;
		}

		&.wpcf7-not-valid{
			color: #b80000;
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="date"],
	select{
		height: 38px;
		line-height: 1;
	}
	textarea{
		height: 160px;
		line-height: 20px;
		resize: vertical;
	}
	input[type="text"].file-upload{
		width: 500px;
		height: 40px;
		border: 0;
		background: url(../images/bg-file-upload.png) no-repeat;
		cursor: pointer
	}
	.wpcf7-radio,
	.wpcf7-checkbox{
		.wpcf7-list-item{
			float: left;
		}
		.wpcf7-list-item{
			margin: 13px 0 0 20px;
			line-height: 25px;

			&:first-child{ margin-left: 0; }
		}
		input{ display: none; }
		.wpcf7-list-item-label{
			display: inline-block;
			padding-left: 40px;
			line-height: 25px;
			cursor: pointer;
			position: relative;

			&:before{
				content: '';
				display: block;
				width: 24px;
				height: 24px;
				border: 1px solid #d6d6d6;
				background: #fff;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -15px;
				@include transition-property(background-color, border-color);
			}

		}
		input[type="radio"],
		input[type="checkbox"]{
			&:checked + .wpcf7-list-item-label:before{
				background: #5ea939;
				border-color: #5ea939;
			}
		}
	}
	.button-action{
		float: left;
		margin: 10px 30px 0 15px;
	}
	.button-alt{
		float: left;
		width: 140px;
		margin-top: 10px;
	}

	.double{
		@extend .clearfix;

		br{ display: none; }
		.wpcf7-form-control-wrap{
			float: left;
			width: 270px;

			&:first-child{ margin-right: 30px; } 
		}
	}
	.wpcf7-not-valid-tip{
		display: block !important;
		opacity: 1 !important;
		height: 15px;
		width: 15px;
		border: 0;
		border-radius: 50%;
		background: #b80000;
		font-size: 0;
		line-height: 0;
		text-align: center;
		position: absolute;
		left: auto;
		right: 15px;
		top: 10px;

		&:after{
			display: block;
			content: '\00d7';
			margin-left: 1px;
			font-weight: bold;
			font-size: 20px;
			line-height: 15px;
			color: #fff;
		}
	}
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ color: #333; }
	input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder{ color:transparent; }
	input:-moz-placeholder, textarea:-moz-placeholder{
		color: #333;
		opacity: 1;
	}
	input:-ms-input-placeholder, textarea:-ms-input-placeholder{ color: #333; }

	@include tablet-landscape{
		.input-wrapper{
			overflow: hidden;
			& + .input-wrapper{
				margin-top: 0;
			}
		}

		.wpcf7-form-control-wrap{
			width: 100%;
		}

		.double{
			.wpcf7-form-control-wrap{
				float: none;
				width: 100%;

				&:first-child{ margin-right: 0; } 
			}
		}

		input[type="text"],
		input[type="email"],
		input[type="tel"],
		input[type="date"],
		textarea,
		select{
			margin-top: 20px
		}
		.your-interest .wpcf7-list-item{
			float: none;
			display: block;
			width: auto;

			& + .wpcf7-list-item{
				margin-left: 0;
				
				+ .wpcf7-list-item{

					& + .wpcf7-list-item{
						margin-left: 0;
					}
				}
			}
		}
	}
}
.ie8 form{
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="date"]{ padding-top: 13px; }

	.wpcf7-radio,
	.wpcf7-checkbox{
		input{ display: inline; }

		.wpcf7-list-item-label{
			padding-left: 10px;

			&:before{ display: none; }
		}
	}

	.wpcf7-not-valid-tip{
		background: none;
		&:after{ color: #b80000; }
	}
}
.wpcf7-validation-errors{ display: none !important; }