/* Header */
.site-header{
	padding: 10px 0;
	background-color: #3b3b3b;
	@include filter-gradient(#3b3b3b, #1e1e1e, vertical);
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top,  #3b3b3b 0%,#262626 80px,#1e1e1e 80px,#1e1e1e 100%));
    @include clearfix;

	.logo{
		float: left;
		margin: 0;

		a{
			display: block;
			width: 202px;
			height: 98px;
			background: url(../images/logo.png) no-repeat;
			overflow: hidden;
			text-indent: -9999px;
		}
	}
	.ie9 &{ filter: none; }
	
	@include tablet-landscape{
		width: 100%;
		padding: 0;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 2;
		.logo{
			float: none;
			a{
				width: 75px;
				height: 36px;
				padding: 7px 0;
				margin: 0 auto;
				background: url(../images/logo-small.png) no-repeat center center;
			}
		}
	}
}

#cta-book-now{
	position: fixed;
	@include desktop{
		display: none !important;
		left: -9999px;
		top: -9999px;
	}
	@include tablet-landscape{
		display: none;
		width: 100%;
		font: 18px/35px 'DINCond Black', sans-serif;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		background: #5ea939;
		background: rgba(94,169,57,.9);
		cursor: pointer;
		left: 0;
		top: 50px;

		&:after{
			content: '';
			display: inline-block;
			vertical-align: center;
			width: 12px;
			height: 12px;
			margin-left: 5px;
			background: url(../images/ico-target-small.png) no-repeat;
		}
	}
}

/* Primary Nav */
#skip{
	@extend .visuallyhidden;
}
@include desktop{
	#menu-mobile{
		display: none;
	}
}
@include tablet-landscape{
	#menu-primary{
		display: none;
	}
}
#menu-toggle{
	display: none;

	@include tablet-landscape{
		display: block;
		width: 45px;
		height: 45px;
		padding: 0;
		border: 0;
		text-indent: -9999px;
		overflow: hidden;
		background: none;
		position: absolute;
		left: 0;
		top: 0;

		&:before {
		  content: "";
		  position: absolute;
		  left: 10px;
		  top: 10px;
		  width: 25px;
		  height: 5px;
		  background: #5ea939;
		  box-shadow: 
		    0 10px 0 0 #5ea939,
		    0 20px 0 0 #5ea939;
		}

	}
}
.menu-header{
	float: right;
	margin-top: 34px;
	margin-right: 60px;
	padding-right: 40px;
	text-align: right;
	background: url(../images/ico-target.png) no-repeat 5px right;
	position: relative;
	z-index: 2;

	.menu{
		margin: 0;
		padding: 0;
		list-style: 0;
		font-size: 0;
		background: url(../images/bg-nav-primary.gif) repeat-x left bottom;

		.menu-item{
			display: inline-block;
			margin-left: 30px;
			position: relative;

			&:first-child{ margin-left: 0; }
		}

		a{
			display: block;
			border-bottom: 5px solid transparent;
			font: 21px/36px 'DINCond Medium', sans-serif;
			color: #fff;
			text-transform: uppercase;
			text-shadow: 0 -2px #000;
			position: relative;
			@include single-transition(border-color);

			&:before{
				display: block;
				content: '';
				width: 0;
				height: 0;
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
				border-bottom: 5px solid transparent;
				position: absolute;
				left: -3px;
				bottom: -5px;
				@include single-transition(border-color);
			}

			&:after{
				display: block;
				content: '';
				width: 0;
				height: 0;
				border-left: 3px solid transparent;
				border-right: 3px solid transparent;
				border-top: 5px solid transparent;
				position: absolute;
				right: -3px;
				bottom: -5px;
				@include single-transition(border-color);
			}
		}

		.menu-item a:hover,
		.current-menu-item a,
		.current-page-ancestor a{
				border-bottom-color: #5ea939;

				&:before{ border-bottom-color: #5ea939; }
				&:after{ border-top-color: #5ea939; }
		}

		.book-now{
			a{
				padding-right: 30px;
				color: #5ea939;
				background: url(../images/ico-target.png) no-repeat center right;
			}
		}

		.facebook,
		.twitter,
		.instagram{
			margin: 0;
			position: absolute;
			top: 7px;

			a{
				@extend .icon;
				width: 25px;
				height: 25px;
				border: 0;
				border-radius: 50%;
				text-align: center;
				text-indent: -9999px;
				background: #fff;
				overflow: hidden;
				@include single-transition(background-color);

				&:hover{
					background-color: #5ea939;
				}

				&:before{
					display: block;
					width: 25px;
					height: auto;
					border: 0;
					font-size: 14px;
					color: #2a2a2a;
					text-align: center;
					text-indent: 0;
					text-shadow: none;
					position: absolute;
					left: 0;
					top: 6px;
				}

				&:after{
					display: none;
				}
			}
		}
		.facebook{
			right: -10px;

			a{
				&:before{
					@extend .icon-facebook:before;
				}
			}
		}
		.twitter{
			right: -60px;

			a{
				&:before{
					@extend .icon-twitter:before;
				}
			}
		}
		.instagram{
			right: -110px;

			a{
				&:before{
					@extend .icon-instagram:before;
				}
			}
		}
	}

    @include tablet-landscape{
    	display: block;
    	width: 100%;
    	height: 100%;
    	margin-top: 0;
    	text-align: left;
    	overflow-y: auto;
    	position: fixed;
    	left: -9999px;
    	top: 50px;
    	opacity: 0;
    	border: 0 !important; 
    	@include single-transition(opacity);

		&:after{
			content: '';
			display: none;
			height: 100%;
			width: 100%;
			background: rgba(0,0,0,.9);
			position: fixed;
			left: 0;
			top: 50px;
			z-index: 2;
		}

    	.menu-expanded &{
    		left: 0;
    		opacity: 1;
    		
    		&:after{
    			display: block;
    		}
    	}

		.menu{
			padding-bottom: 50px;
			background: none;
			position: relative;
			z-index: 3;

			.menu-item{
				display: block;
				border-bottom: 1px solid #333;
				margin: 0;
			}
			a{
				display: block;
				padding: 9px 10px;
				border: 0;
				font: 18px/22px 'DINCond Black', sans-serif;
				color: #fff;
				text-transform: uppercase;
				text-shadow: 0 2px 0 #000;
				background: #222;
			}
		}
    }
}
