/* ==========================================================================
   Helper classes
   ========================================================================== */

.inner{
    width: 1170px;
    margin: 0 auto;
    @include clearfix;

    @include tablet-landscape{
        width: 90%;
        min-width: 320px;
        padding: 0 5%;
        overflow: hidden;
    }
}

.button{
    display: block;
    width: 240px;
    border: 0;
    font: 24px/50px 'DINCond Black', sans-serif;
    color: #fff !important;
    text-align: center;
    text-transform: uppercase;
    background: #5ea939;
    position: relative;
    cursor: pointer;
    @include single-transition(background-color);

    &:after,
    &:before{
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        @include single-transition(border-color);
    }

    &:before {
        border-left: 15px solid transparent;
        border-right: 15px solid #5ea939;
        border-top: 50px solid transparent;
        left: -30px;
    }
    
    &:after {
        border-bottom: 50px solid transparent;
        border-left: 15px solid #5ea939;
        border-right: 15px solid transparent;
        right: -30px;
    }        

    &:hover{
        background: #333;
        &:before{ border-right-color: #333; }
        &:after{ border-left-color: #333; }
    }

    input{
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        background: none;
        border: 0;
        font: 24px/50px 'DINCond Black', sans-serif;
        color: #fff !important;
        text-align: center;
        text-transform: uppercase;
    }
    
}
.button-action{
    @extend .button;
    width: 220px;
    height: 47px;
    font-size: 22px;
    line-height: 47px;
    &:before,
    &:after{
        border-right-width: 14px;
        border-left-width: 14px;;
    }
    &:before{
        border-top-width: 47px;
        left: -28px;
    }
    &:after{
        border-bottom-width: 47px;
        right: -28px;
    }

    input{ font-size: 22px; }
}
.button-alt{
    @extend .button-action;
    width: 100px;
    background-color: #333;
    &:before{ border-right-color: #333; }
    &:after{ border-left-color: #333; }
    &:hover{
        background-color: #5ea939;
        &:before{ border-right-color: #5ea939; }
        &:after{ border-left-color: #5ea939; }
    }
}
.button-cta{
    @extend .button;
    width: 296px;
    height: 41px;
    line-height: 41px;
    &:before,
    &:after{
        border-right-width: 18px;
        border-left-width: 18px;;
    }
    &:before{
        border-top-width: 41px;
        left: -36px;
    }
    &:after{
        border-bottom-width: 41px;
        right: -36px;
    }
}

.columns{
    margin: 30px -15px 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    text-align: center;


    li{
        margin: 30px 15px 0;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    @include tablet-landscape{
        margin: 0;
        li{
            display: block;
            margin: 30px auto 0;
            position: relative;
        }
    }
}
.col-2{
    @extend .columns;
    li{ width: 570px; }
    @include tablet-landscape{
        li{
            width: 100%;
            max-width: 570px;
        }
    }
}
.col-3{
    @extend .columns;
    li{ width: 370px; }
    @include tablet-landscape{
        li{
            width: 100%;
            max-width: 370px;
        }
    }
}
.col-6{
    @extend .columns;
    li{
        width: 170px;
        margin-top: 40px;
        text-align: center;
    }
    @include tablet-landscape{
        li{
            width: 100%;
            max-width: 170px;
        }
    }
}

@include tablet-landscape{
    .title-with-border{
        padding: 0;
        border: 0;
        font: 16px/20px 'DINCond Black', sans-serif;
        color: #333;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        position: relative;
        overflow: hidden;

        &:before,
        &:after{
            content: '';
            display: block;
            width: 50%;
            height: 1px;
            background: #d1d1d1;
            position: absolute;
            top: 50%;
        }
        &:before{
            left: auto;
            right: 50%;
            margin-right: 90px;
        }
        &:after{
            left: 50%;
            right: auto;
            margin-left: 90px;
        }
    }
    .block-link{
        padding: 15px 40px 15px 20px;
        font: 18px/22px 'DINCond Black', sans-serif;
        color: #333;
        text-transform: uppercase;
        background: #ddd;
        @include transition-property(background-color, color);

        &:before{
            content: '\203A';
            margin-top: -20px;
            border: 0;
            font: 36px/40px arial, sans-serif;
            color: #b4b4b4;
            top: 50%;
            right: 20px;
            left: auto;
            @include single-transition(color);
        }

        &:hover{
            color: #fff;
            background: #5ea939;
            &:before{
                color: #fff;
            }
        }
    }
    .block-links{
        li{
            margin-top: 20px;

            &:first-child{
                margin-top: 0;
            }
        }
        a{
            @extend .block-link;
        }
    }
    .button-mobile{
        display: block;
        width: 240px;
        border: 0;
        font: 24px/40px 'DINCond Black', sans-serif;
        color: #fff !important;
        text-align: center;
        text-transform: uppercase;
        background: #5ea939;
        position: relative;
        cursor: pointer;
        @include single-transition(background-color);

        &:after,
        &:before{
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            @include single-transition(border-color);
        }

        &:before {
            border-left: 15px solid transparent;
            border-right: 15px solid #5ea939;
            border-top: 40px solid transparent;
            left: -30px;
        }
        
        &:after {
            border-bottom: 40px solid transparent;
            border-left: 15px solid #5ea939;
            border-right: 15px solid transparent;
            right: -30px;
        }        

        &:hover{
            background: #333;
            &:before{ border-right-color: #333; }
            &:after{ border-left-color: #333; }
        }
    }
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.inner {
    position: relative;
    margin: 0 auto;
}

.alignleft{
    float: left;
    margin-right: 20px;
}
.alignright{
    float: right;
    margin-left: 20px;
}
.aligncenter{
    display: block;
    margin: 0 auto;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix{
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }

    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}