@font-face {
	font-family: 'hardknocks';
	src:url('../icons/hardknocks.eot');
	src:url('../icons/hardknocks.eot?#iefix') format('embedded-opentype'),
		url('../icons/hardknocks.svg#hardknocks') format('svg'),
		url('../icons/hardknocks.woff') format('woff'),
		url('../icons/hardknocks.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .icon {
	font-family: 'hardknocks';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-instagram:before {
	content: "\e602";
}
