#instagram-gallery{
	clear: both;
	height: 584px;
	margin: 0 -146px;
	padding: 0;
	list-style: none;
	font-size: 0;
	line-height: 0;
	text-align: center;
	overflow: hidden;

	li{
		display: inline-block;
	}
	img{
		display: block;
		width: 292px;
		height: 292px;
	}
}