body{
	font: 13px/22px arial,sans-serif;
	color: #666;
	background: #fff;
	position: relative;

	@include tablet-landscape{
		padding-top: 50px;
	}
}
menu, ol, ul{ padding: 0 0 0 20px; }
ul{ list-style: disc; }
h1,h2,h3,h4,h5,h6{
	margin: 14px 0 0;
	font-weight: normal;
	line-height: 1.1;
	font-family: Georgia,'Times New Roman',serif;
	color: #333;
}
h1{ font-size: 48px; }
h2{ font-size: 24px; line-height: 34px; }
h3{ font-size: 18px; line-height: 28px; }
h4,h5,h6{ margin-top: 19px; font-size: 18px; }
a{
	color: #5ea939;
	text-decoration: none;
    @include single-transition(color);

	&:visited,
	&:hover{ color: #333; }
}

p{ margin: 21px 0 0; }

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child{ margin-top: 0; }


blockquote{
	margin: 50px 0 25px;
	border-left: 10px solid #5ea939;
	padding: 30px;
	background: #ececec;

	h1,h2,h3,h4,h5,h6{
		font-size: 17px;
		color: #104a70;
	}
}

