/* Main content area */
.content-main{
	padding: 40px 0 110px;
	background-color: #fff;
	@include filter-gradient(#c9c9c9, #ffffff, vertical);
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top,  #c9c9c9 0%,#ffffff 80px,#ffffff 100%));

	@include tablet-landscape{
		padding: 0 0 20px;
		background: url(../images/bg-shadow-inset-ffffff.png) repeat-x #fff;

		.banner + &{
			padding-top: 15px;
		}
	}
}
.ie9 .content-main{ filter: none; }

.section-title{
	font: 32px/24px 'DINCond Black', sans-serif;
	color: #333;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	position: relative;
	overflow: hidden;

	&:before,
	&:after{
		content: '';
		display: block;
		width: 470px;
		height: 1px;
		background: #d1d1d1;
		position: absolute;
		top: 50%;
	}
	&:before{ left: 0; }
	&:after{ right: 0; }

    @include tablet-landscape{
    	font-size: 16px;
		overflow: hidden;
		&:before,
		&:after{
    		width: 50%;
    	}
    	&:before{
    		left: auto;
    		right: 50%;
    		margin-right: 60px;
    	}
    	&:after{
    		left: 50%;
    		right: auto;
    		margin-left: 60px;
    	}
	}
}


/* Generic content */
.page-title{
	margin: 0;
	font: 30px/80px 'DINCond Light', sans-serif;
	color: #333;
	text-transform: uppercase;

	@include tablet-landscape{
		// padding: 18px 5%;
		// font-size: 25px;
		// line-height: 1;
		// text-align: center;
	}
}
.entry-title{
	margin-top: 1px;
	font: 35px/1 'DINCond Black', sans-serif;
	color: #333;
	text-transform: uppercase;

	@include tablet-landscape{
		font-size: 22px;
		line-height: 26px;
	}
}
.entry-content{
	font-size: 16px;
	line-height: 25px;
	color: #333;

	h1,h2,h3,h4,h5,h6{
		font-family: 'DINCond Black', sans-serif;
		color: #333;
		text-transform: uppercase;
	}
	h1{ font-size: 32px; line-height: 40px; }
	h2{ font-size: 28px; line-height: 36px; }
	h3{ font-size: 24px; line-height: 32px; }
	h4{ font-size: 20px; line-height: 28px; }
	h5{ font-size: 16px; line-height: 24px; }
	h6{ font-size: 12px; line-height: 20px; }

    @include tablet-landscape{
    	font-size: 15px;
    	line-height: 21px;
    }
}


.content{
	article,
	.articles{ float: left; }
	.articles{
		width: 870px;

		article{
			float: none;
			width: auto;
		}
	}
	article{
		padding-top: 41px;
		border-top: 1px solid #d6d6d6;
		margin-top: 45px;

		&:first-child{
			margin-top: 0;
			border-top: 0;
			padding-top: 0;
		}

		header{
			position: relative;
		}
	}
	.entry-thumb{
		width: 870px;
		height: 500px;
		a,img{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.entry-meta{
		position: absolute;
		left: 0;
		bottom: 0;
	}
	.entry-date{
		display: block;
		width: 100px;
		padding: 10px 0;
		text-align: center;
		text-transform: uppercase;
		background: #5ea939;
	}
	.entry-month,
	.entry-day{
		display: block;
		font-family: 'DINCond Black', sans-serif;
		color: #fff;
	}
	.entry-month{ font-size: 16px; }
	.entry-day{ font-size: 25px; }
	.entry-title{
		margin-top: 34px;
		&:first-child{ margin-top: 0; }
	}
	.entry-content{
		width: 760px;
		margin-top: 19px;
		position: relative;
	}
	.read-more{ margin: 33px 0 0 30px; }

	aside{
		float: right;
		width: 270px;
	}

    @include tablet-landscape{
		article,
		.articles,
		aside{ float: none; }

		article,
		.articles{
			width: auto;
		}
		article{
			header{
				min-height: 64px;
				margin: 0 -5%;
			}
		}

		.articles{
		}

		.entry-thumb{
			&,& img{
				width: 100%;
				height: auto;
			}
		}

		.entry-title{
			margin-top: 15px;
		}
		.entry-content{
			width: auto;

			img,
			iframe{
				max-width: 100%;
			}
			img{
				height: auto;
			}
		}

		aside{
			width: auto;
			margin: 0 -5%;
		}
    }
}
.post-edit-link{
	@include tablet-landscape{
		display: none;
	}
}