/* Page-specific styles */
.home{
	section{
		width: 100%;
		min-width: 1170px;
		overflow: hidden;
	    @include tablet-landscape{
    		min-width: 320px;
	    }
	}
	.featured-item-list{
		padding: 58px 0 30px;
	    @include tablet-landscape{
	    	padding: 0;
	    }
	}
	.featured-items{
		@extend .clearfix;
		margin: 0 -15px;
		padding: 0;
		list-style: none;
	    @include tablet-landscape{
	    	margin: 0 -5%;
	    }
	}
	.featured-item{
		float: left;
		width: 270px;
		height: 340px;
		margin: 0 15px;
		text-align: center;
		background: url(../images/bg-home-featured.gif) no-repeat left bottom;
		cursor: pointer;
		position: relative;

		.thumbnail{
			padding-bottom: 17px;
			background: url(../images/shadow-270w.png) no-repeat center bottom;

			img{
				display: block;
				width: 270px;
				height: 150px;
			}
		}

		.entry-title{
			font: 22px/32px 'DINCond Black', sans-serif;
			color: #231f20;
			text-transform: uppercase;
			@include single-transition(color);
		}

		.entry-content{ color: #231f20; }

		.featured-item-link{
			display: block;
			width: 100%;
			height: 10px;
			text-indent: -9999px;
			overflow: hidden;
			position: absolute;
			left: 0;
			bottom: 0;
			background: url(../images/bg-home-featured-hover.gif) no-repeat;
			opacity: 0;
			@include single-transition(opacity);
		}

		&:hover{
			.entry-title{ color: #37a139; }
			.featured-item-link{ opacity: 1; }
		}
	    @include tablet-landscape{
    		float: none;
    		width: auto;
    		height: auto;
    		margin: 0;
    		padding: 15px 0 25px;
    		background: url(../images/bg-shadow-inset-ffffff.png) repeat-x #fff;

    		.thumbnail{
    			display: none;
    		}
    		.entry-title{
    			font-size: 20px;
    		}
    		.entry-content{
    			width: 270px;
    			margin: 0 auto;
    		}
    		.featured-item-link{
			    display: block;
			    width: 240px;
			    margin: 35px auto 0;
			    height: auto;
			    border: 0;
			    font: 24px/50px 'DINCond Black', sans-serif;
			    color: #fff !important;
			    text-align: center;
			    text-transform: uppercase;
			    text-indent: 0;
			    background: #5ea939;
			    position: relative;
			    cursor: pointer;
			    opacity: 1;
			    overflow: visible;
			    @include single-transition(background-color);

			    &:after,
			    &:before{
			        content: '';
			        display: block;
			        width: 0;
			        height: 0;
			        position: absolute;
			        top: 0;
			        @include single-transition(border-color);
			    }

			    &:before {
			        border-left: 15px solid transparent;
			        border-right: 15px solid #5ea939;
			        border-top: 50px solid transparent;
			        left: -30px;
			    }
			    
			    &:after {
			        border-bottom: 50px solid transparent;
			        border-left: 15px solid #5ea939;
			        border-right: 15px solid transparent;
			        right: -30px;
			    }        
    		}

		    &:hover{
		    	.featured-item-link{
			        background: #333;
			        &:before{ border-right-color: #333; }
			        &:after{ border-left-color: #333; }
			    }
		    }
	    }
	}

	.cta{
		position: relative;

		article{
			width: 900px;
			text-align: center;
			position: absolute;
			left: 50%;
			margin-left: -450px;
			top: 40px;
		}
		.banner-image{
			width: 100%;
			height: auto;
			min-height: 0;
		}
		.entry-title{
			font-size: 55px;
			line-height: 60px;
		}
		.entry-content{
			margin-top: 18px;
			font: 20px/30px 'DINCond Medium', sans-serif;
		}
		.button{
			display: inline-block;
			margin-top: 25px;
		}

	    @include tablet-landscape{
	    	display: none;
		}
	}

	.featured-post{
		padding: 60px 0;

		.featured-image{
			margin-top: 70px;

			a{
				display: block;
			}

			img{
				width: 100%;
    			max-width: 100%;
				height: auto;
			}
		}
		
		article{
			padding: 19px 470px 0 0;
			position: relative;
			background: url(../images/shadow-1170w.png) no-repeat center top;
		}
		.entry-title{
			line-height: 45px;

			a{
				color: #333;

				&:hover{ color: #5ea939; }
			}
		}
		.entry-content{
			margin-top: 10px;
		}

		.share{
			@extend .menu-social;
			margin: 0;
			position: absolute;
			right: 0;
			top: 30px;
		}

		.button{ margin: 23px 0 0 15px; }

		.post-edit-link{
			position: absolute;
			right: 0;
			bottom: 0;
		}

	    @include tablet-landscape{
	    	padding: 20px 0 30px;
	    	background: url(../images/bg-shadow-inset-ffffff.png) repeat-x #fff;

	    	.inner{
	    		padding: 0 5%;
	    	}

	    	.featured-image{
	    		margin: 25px -5% 0;
	    	}
	    	article{
	    		padding: 20px 0;
	    		background-size: contain;
	    	}
	    	.entry-title{
	    		font-size: 22px;
	    		line-height: 28px;
	    	}
	    	.share{
	    		margin-top: 20px;
	    		padding: 0;
	    		text-align: center;
	    		position: static;
	    	}
	    	.button{
	    		display: none;
	    	}
		}
	}

	.cta-footer{
		padding: 17px 0 40px;
		text-align: center;
		background: url(../images/pattern-gray.gif);

		.entry-title{
			margin-bottom: 25px;
			font: 45px/65px 'DINCond Black', sans-serif;
			color: #fff;
			text-transform: uppercase;
		}

		.button{
			display: inline-block;
			& + .button{ margin-left: 30px; }
		}

	    @include tablet-landscape{
	    	.entry-title{
	    		font-size: 28px;
	    		line-height: 32px;
	    	}
	    	.button{
	    		display: block;
	    		width: 220px;
	    		&,
	    		& + .button{
	    			margin: 20px auto 0;
	    		}
	    	}
		}
	}

	.site-footer{ margin-top: 0; }
}
.ie8 .page-home .featured-item{
	.featured-item-link{ display: none; }
	&:hover .featured-item-link{ display: block; }
}



/* Landing pages */
.page-template-template-landing-php{
	.section-title{ margin-bottom: 5px; }
	.children-list{ padding-top: 55px; }
	.children li{ margin-top: 50px; }

	@include tablet-landscape{
		.children-list{
			padding: 25px 0;
		}
		.children{
			li,
			li:first-child{
				margin-top: 20px;
			}
		}
		#back-to-top{
			display: none;
		}
	}
}

/* Gallery pages */
.page-template-template-gallery-large-php{
	.post-edit-link{ font-size: 12px; }
	.child-link,
	.sibling-link{
		.title{ margin-top: 160px; }
	}
}
.gallery-items{
	@extend .col-2;

	.thumbnail,
	.video{
		padding-bottom: 44px;
		background: url(../images/shadow-560w.png) no-repeat center bottom;
	}
	iframe{ display: block; }
	.title{
		@extend .entry-title;
	}
	.description{
		@extend .entry-content;
		margin-top: 25px;
	}

	@include tablet-landscape{
		.thumbnail,
		.video{
			padding-bottom: 0;
			background: none;
		}
		img{
			max-width: 100%;
			height: auto;
		}
		.title,
		.description{
			padding: 0 5%;
		}
		.title{
			margin-top: 20px;
			text-align: center;
		}
		.description{
			margin-top: 15px;
		}
		.video{
		    height: 0;
		    padding-bottom: 56.25%;
		    padding-top: 30px;
			position: relative;
		    overflow: hidden;
		}
		iframe{
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
	}
}

/* Combat Sports page */
.page-combat-sports{
	.child-link,
	.sibling-link{
		.title{ margin-top: 160px; }
	}

	@include tablet-landscape{
		.child-link,
		.sibling-link{
			.title{ margin-top: 0; }
		}
	}
}

/* Combat Sports child pages */
.section-combat-sports{
	.title{
		@extend .entry-title;
	}
	.description{
		@extend .entry-content;
	}
	.post-edit-link{ font-size: 12px; }
	.child-link,
	.sibling-link{
		.title{ margin-top: 160px; }
	}

	@include tablet-landscape{
		.section-title{
			line-height: 50px;
		}
	}
}
.weapons{
	@extend .col-3;

	.thumbnail{
		padding-bottom: 42px;
		background: url(../images/shadow-370w.png) no-repeat center bottom;
	}

	.description{
		margin-top: 30px;
	}

	@include tablet-landscape{
		.thumbnail{
			padding: 0;
			background: none;
		}
		img{
			max-width: 100%;
			height: auto;
		}
		.title{
			width: 100%;
			padding: 12px 0;
			color: #fff;
			text-align: center;
			background: rgba(0,0,0,.8);
			position: absolute;
			left: 0;
			bottom: 0;
		}
		.description{
			display: none;
		}
	}
}

.missions{
	@extend .col-6;
	text-align: center;

	.thumbnail{
		padding-bottom: 13px;
		background: url(../images/shadow-170w.png) no-repeat center bottom;
	}
	.title{
		margin-top: 10px;
		font-size: 22px;
	}

	& + .section-title{ margin-top: 70px; }

	@include tablet-landscape{
		background: url(../images/bg-shadow-inset-ffffff.png) repeat-x #fff;

		&.missions{
			margin: 0 -5%;
			padding: 10px 5% 0;
		}

		.mission{
			max-width: none;
			padding-top: 10px;
			border-top: 1px solid #d6d6d6;
			margin-top: 10px;
			text-align: left;

			&:first-child{
				padding: 0;
				border: 0;
				margin: 0;
			}
		}
		.thumbnail,
		.title{
			display: inline-block;
			vertical-align: middle;
		}
		.thumbnail{
			padding: 0;
			background: none;
		}
		img{
			width: 75px;
			height: 75px;
		}
		.title{
			margin: 0 0 0 20px;
		}

		& + .section-title{ margin-top: 0; }
	}
}

/* Group Sales landing page */
.page-template-template-sales-php{
	.child-link:hover,
	.sibling-link:hover{
		background: #000;

		@include tablet-landscape{
			background: #333;
		}
	}
}

/* Group Sales Detail page */
.single-group_sale{
	.menu-header{
		.menu{
			.sales a{
				border-bottom-color: #5ea939;

				&:before{ border-bottom-color: #5ea939; }
				&:after{ border-top-color: #5ea939; }
			}
		}
	}

	.testimonials{
		.quote,.source{ font-family: arial, sans-serif; }
		.source:first-line{ font-weight: bold; }
	}

	@include desktop{
		.mobile-copy{
			display: none;
		}
	}

	@include tablet-landscape{
		.banner{
			height: auto;
			max-height: none;
		}
		
		.mobile-copy{
			padding: 50px 0 30px;
			background: url(../images/bg-shadow-inset-ffffff.png) repeat-x #fff;

			p{
				font-size: 15px;
				line-height: 25px;
			}
			.heading-sub{
				font: 22px/28px 'DINCond Black', sans-serif;
			}
		}
	}
}

/* Blog Listing pages */
.blog,
.archive{
	.content{
		.entry-thumb{
			&,
			& a,
			& img{
				width: 100%;
				height: auto;
			}
			a{
				background: url(../images/blog.jpg) no-repeat;
			}
		}
	}
	.post-edit-link{
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.entry-title a{
		color: #333;
		&:hover{ color: #5Ea939; }
	}
}

/* Blog Detail page */
.single-post{
	.content{
		.entry-thumb{
			&,
			& a,
			& img{
				width: 100%;
				height: auto;
			}
			a{
				background: url(../images/blog.jpg) no-repeat;
			}
		}
	}
	article{ width: 870px; }

	.share{
		margin: 36px 0 0;
		padding: 0;
		list-style: none;

		.menu-item{
			display: inline-block;
			& + .menu-item{ margin-left: 30px; }
		}

		a{
			display: block;
			padding-top: 60px;
			font-size: 16px;
			font-family: 'DINCond Black', sans-serif;
			color: #333;
			text-transform: uppercase;
			position: relative;

			&:before{
				content: '';
				display: block;
				width: 50px;
				height: 50px;
				border: 0;
				border-radius: 50%;
				text-indent: -9999px;
				overflow: hidden;
				background: url(../images/ico-social.png) no-repeat #333;
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -25px;
				@include single-transition(background-color);
			}

			&:hover{
				&:before{
					background-color: #5ea939;
				}
			}
		}
		.facebook a:before{ background-position: -50px 0; }
		.twitter a:before{ background-position: -100px 0; }
		.google a:before{ background-position: -150px 0; }
	}

	@include tablet-landscape{
		article{
			width: 100%;
		}
		.share{
			text-align: center;

			a{
				height: 0;
				overflow: hidden;
			}
		}
	}
}

/* Location Detail page */
.single-location{
	.menu-header{
		.menu{
			.locations a{
				border-bottom-color: #5ea939;

				&:before{ border-bottom-color: #5ea939; }
				&:after{ border-top-color: #5ea939; }
			}
		}
	}
	.section-title{
		margin: 20px 0 30px;

		&:before,
		&:after{
			width: 420px;
		}
		&:before{
			margin-right: 90px;
		}
		&:after{
			margin-left: 90px;
		}
	}
	.section-heading{
		padding-left: 40px;
		margin-bottom: 30px;
		font: 22px/32px 'DINCond Medium', sans-serif;
		color: #231f20;
		text-align: left;
		background: url(../images/ico-hours.png) no-repeat left center;
		clear: both;

		& + article{ margin-left: 0; }
	}

	article{
		float: left;
		width: 270px;
		margin-left: 30px;
		padding-bottom: 50px;

		&.location-details{
			width: 540px;
		}
	}
	.entry-title{
		padding-bottom: 20px;
		border-bottom: 1px solid #d6d6d6;
		margin-bottom: 15px;
		font: 16px/18px 'DINCond Black', sans-serif;
	}
	.entry-content{
		font-size: 13px;
		line-height: 22px;
	}

	.button{
		float: left;
		margin-left: 30px;
	}

	.group-sales{
		li{
			height: 100%;
		}
		.page-meta{
			width: 80%;
			bottom: 110px;
			left: 10%;
			margin: 0;
		}
	}

	.news-events{
		article{
			float: none;
			width: auto;
			padding: 0;
		}
		.entry-title{
			padding: 0;
			border: 0;
			font-size: 26px;
			line-height: 34px;
		}
		.button{
			float: none;
			margin-top: 20px;
		}
	}

	aside{
		@extend .promotions;

		.widget-container.widget_text{
			margin-top: 0;

			&:before,
			&:after{
				background-image: url( ../images/ico-location-detail.png);
			}

			.widget-title{
				margin: 0;
				border: 0;
				padding: 0;
			}

			.textwidget a{
				@extend .button-action;
				float: none;
				display: block;
				margin-left: -58px;
				margin-right: 30px;
				padding: 0;

				&:before{
					border-bottom: 0;
				}
			}
		}
	}

	@include desktop{
		.section-heading.questions{
			display: none;
		}
	}

	@include tablet-landscape{
		.section-heading{
			padding: 15px 5% 0;
			margin: 15px -5% 0;
			font: 25px/60px 'DINCond Regular', sans-serif;
			text-align: center;
			text-transform: uppercase;
			background: url(../images/bg-shadow-inset-ffffff.png) repeat-x #fff;
		}
		article{
			float: none;
			width: auto;
			padding: 0;
			margin: 50px 0 0;

			&.location-details{
				width: auto;
			}

			strong{
				font: 22px/28px 'DINCond Black', sans-serif;
				text-transform: uppercase;
			}
		}
		.section-heading + article{
			margin-top: 20px;
		}
		.button{
			float: none;
			margin: 0 auto;
		}
		.group-sales{
			min-width: 320px;
			li{
				max-height: 550px;
			}
			.page-meta{
				width: auto;
				padding: 0 5%;
				left: 0;
			}
		}

		aside{
			ul{

			}

			.widget-container{

				.widget-title{
					line-height: 28px;

					&:before,
					&:after{
						display: none;
					}
				}
				.textwidget{
					width: 320px;
					max-width: 100%;
					margin: 0 auto;
				}

				&.widget_text{
					background: url(../images/bg-shadow-inset-ececec.png) repeat-x #ececec;

					&:first-child{
						padding-top: 90px;
						background: url(../images/bg-shadow-inset-ececec.png) repeat-x #ececec;
					
						&:before,
						&:after{
							top: 30px;
						}
					}
				}
			}
		}
	}
}

/* Careers page */
.page-template-template-careers-php{
	article,aside{ width: 570px; }
	article{
		float: right;
		margin: 0;

		.entry-content{ width: auto; }

		h1,h2,h3,h4,h5,h6{
			margin-top: 24px;
			&:first-child{ margin-top: 0; }
		}
		ul{
			/*float: left;
			width: 180px;
			&+ul{ margin-left: 40px; }*/
		}
	}

	aside{
		float: left;
	}

	.entry-title{
		font: 22px/32px 'DINCond Black', sans-serif;
		text-transform: uppercase;
		color: #231f20;
	}

	@include tablet-landscape{
		article,
		aside{
			float: none;
			max-width: 100%;
			margin: 0 auto;
		}

		aside .entry-title{
			@extend .title-with-border;
		}

		article{
			padding: 10px 5% 0;
			margin: 0 -5%;
			background: url(../images/bg-shadow-inset-ffffff.png) repeat-x #fff;
		}
	}
}
.positions{
	margin: 32px 0 0;
	padding: 0;
	list-style: none;

	.position{
		&+.position{ border-top: 1px solid #d6d6d6; }
	}

	.position-title{
		margin: 0;
		padding: 14px 0 14px 40px;
		font: 22px/32px 'DINCond Medium', sans-serif;
		text-transform: uppercase;
		color: #231f20;
		position: relative;
		cursor: pointer;
		@include transition-property(background-color, color);

		&:before{
			content: '+';
			display: block;
			width: 14px;
			height: 14px;
			border: 2px solid #ddd;
			border-radius: 50%;
			color: #ddd;
			font: bold 10px/14px arial, sans-serif;
			text-align: center;
			background: #fff;
			position: absolute;
			top: 17px;
			left: 0;
			@include single-transition(color);
			@include transition-property(border-color, color);
		}
		&:hover,
		&.expanded{
			&:before{
				border-color: #5ea939;
				color: #5ea939;
			}
		}
	}
	.entry-content{
		width: auto;
		margin: 0;
		padding: 30px;
		font-size: 13px;
		line-height: 22px;
		color: #fff;
		background: url(../images/pattern-gray.gif);

		h1,h2,h3,h4,h5,h6{
			margin-top: 40px;
			font: 16px/18px 'DINCond Black', sans-serif;
			color: #fff;
			&:first-child{ margin-top: 0; }
		}

		li{
			line-height: 18px;
			margin-top: 5px;
		}

		.button{
			display: block;
			margin-top: 40px;
			margin-left: 15px;
			cursor: pointer;
		}
	}

	@include tablet-landscape{
		margin-top: 10px;
	}
}
.positions .entry-content{ padding-top: 24px; }

/* Franchise page */
.page-template-template-franchise-php{
	article,aside{ width: 570px; }
	article{
		float: left;
		margin: 0;

		.entry-content{ width: auto; }

		h1,h2,h3,h4,h5,h6{
			margin-top: 24px;
			&:first-child{ margin-top: 0; }
		}
		ul{
			float: left;
			width: 180px;
			&+ul{ margin-left: 40px; }
		}
	}

	aside{
		float: right;

		.entry-content{
			width: auto;
			padding: 26px 30px 30px;
			text-align: center;
			background: url(../images/pattern-gray.gif);
		}
		.entry-title{ color: #fff; }
		.button{ margin: 50px auto 0; }
	}

	.entry-title{
		font: 22px/32px 'DINCond Black', sans-serif;
		text-transform: uppercase;
		color: #231f20;
	}

	@include tablet-landscape{
		.banner + .content-main{
			padding-top: 0;
		}
		.content{
			article,
			aside{
				margin: 0 auto;
				float: none;
				width: auto;
			}
			article{
				padding: 10px 5% 0;
				margin: 0 -5%;
				background: url(../images/bg-shadow-inset-ffffff.png) repeat-x #fff;

				.entry-title{
					@extend .title-with-border;
				}
			}
			aside{
				margin: 0 -5%;
				.button{
					margin-top: 20px;
				}
			}
		}
	}
}

/* FAQ page */
.page-template-template-faq-php{
	.page-title{
		display: none;
	}
	
	@include tablet-landscape{
		.articles{
			margin-top: 10px;

			article{
				margin-top: 20px;
				padding-top: 20px;
			}
		}
		
		.content h1{
			@extend .title-with-border;
		}
		
		.video{
		    height: 0;
		    padding-bottom: 56.25%;
		    padding-top: 30px;
			position: relative;
		    overflow: hidden;
		}
		iframe{
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
	}
}

/* About page */
.page-about{
	@include tablet-landscape{
		.content{

			.entry-title{
				@extend .title-with-border;
			}
		}
		aside{
			display: none;
		}
	}
}

/* Store page */
.page-store{
	@include tablet-landscape{
		.content{
			padding-top: 0;
			.entry-title{
				@extend .title-with-border;
			}
			article{
				float: none;
				min-width: 775px;
				margin: 0 -5%;
				padding: 15px 5% 0;
				background: url(../images/bg-shadow-inset-ffffff.png) repeat-x #fff;
			}
			aside{
				display: none;
			}
		}
	}
}