.children-list,
.sibling-list{
	padding: 40px 0 110px;
	background-color: #fff;
	@include filter-gradient(#c9c9c9, #ffffff, vertical);
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top,  #c9c9c9 0%,#c3c3c3 3px,#d5d5d5 4px,#dfdfdf 6px,#e1e1e1 7px,#efefef 27px,#f0f0f0 28px,#ffffff 90px,#ffffff 100%));

	@include tablet-landscape{
		padding: 20px 0;
	}
}
.ie9 .sibling-list,
.ie9 .children-list{ filter: none; }

.children,
.siblings{
	@extend .col-3;
}

.child,
.sibling{
	height: 370px;
	overflow: hidden;
	position: relative;

	img{
		display: block;
		width: 100%;
		height: 100%;
	}

	@include tablet-landscape{
		height: auto;
		overflow: visible;
		img{
			display: none;
		}
	}
}

.child-link,
.sibling-link{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	top: 0;
	@include single-transition(background-color);

	.title,
	.brief{
		display: block;
		color: #fff;
		opacity: 0;
		@include single-transition(opacity);
	}
	.title{
		margin-top: 110px;
		font: 35px/30px 'DINCond Black', sans-serif;
	}
	.brief{
		margin-top: 30px;
		padding: 0 30px;
		font-size: 16px;
		line-height: 25px;
		text-align: left;
	}

	&:hover{
		color: #fff;
		background: rgba(0,0,0,.75);
		.title,
		.brief{ opacity: 1; }
	}

	@include tablet-landscape{
		@extend .button-mobile;
		margin: 0 auto;
		
		.title{
			display: inline;
			padding: 0;
			font-size: 20px;
			opacity: 1;
		}
		.brief{
			display: none;
		}
	}
}
.ie8 .child-link:hover,
.ie8 .sibling-link:hover{
	background:transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000); ";
	zoom: 1;
	
	@include tablet-landscape{
		filter: none;
		background: #333;
	}
}

