/* Subnav */
.subnav{
	z-index: 10;
	text-align: right;

	@include filter-gradient(#3a3a3a, #1e1e1e, vertical);
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top,  #3a3a3a 0%,#232323 40px,#1e1e1e 40px,#1e1e1e 100%));

	.menu{
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
	}
	.menu-item{
		display: inline-block;
		margin-left: 20px;
		&:first-child{ margin-left: 0; }
	}
	a{
		display: block;
		padding: 24px 8px 22px;
		border-bottom: 5px solid transparent;
		font: 20px/1 'DINCond Medium', sans-serif;
		text-transform: uppercase;
		color: #fff;
		@include single-transition(border-color);

		&:hover{ border-bottom-color: #5ea939; }
	}
	.book-now{
		a{
			padding-right: 30px;
			color: #5ea939;
			background: url(../images/ico-target.png) no-repeat center right;
		}
	}

	.ie9 &{ filter: none; }

	@include tablet-landscape{
		display: none;
	}
}

.fixed-top,
.fixed-bottom{
	.subnav{
		position: fixed;
		left: 0;
		width: 100%;
		z-index: 2;
	}
}
.fixed-top{
	@include desktop{
		.site-header{
			padding-bottom: 71px; /* height of .subnav */
		}
	}

	.subnav{
		top: 0;
	}
}

.fixed-bottom{
	.subnav{
		bottom: 0;
	}
}