/* Pager */
#pager{
	clear: both;
	text-align: center;

	ul{
		margin: 0;
		border-top: 2px solid #d6d6d6;
		padding: 60px 50px 0;
		list-style: none;
		font-size: 0;
	}

	li{
		display: inline-block;
		margin-left: 10px;

		&:first-child{ margin-left: 0; }
	}

	a,span{
		display: block;
		width: 40px;
		height: 45px;
		border: 0;
		@include border-radius;
		font: 35px/45px 'DINCond Light', sans-serif;
		color: #333;
		@include transition-property(background-color, color);
	}
	a:hover,
	.current{
		color: #fff;
		background: #5ea939;
	}
	.next,.prev{
		position: absolute;
		top: 70px;

		a{
			display: block;
			width: 0;
			height: 0;
			text-indent: -9999px;
			border-top: 13px solid transparent;
			border-bottom: 13px solid transparent;
			overflow: hidden;
			@include single-transition(border-color);

			&:hover{
				background: none;
			}
		}
	}
	.next{
		right: 0;

		a{
			border-left: 20px solid #333;

			&:hover{
				border-left-color: #5ea939;
			}
		}
	}
	.prev{
		left: 0;

		a{
			border-right: 20px solid #333;

			&:hover{
				border-right-color: #5ea939;
			}
		}
	}

	@include tablet-landscape{
		background: url(../images/bg-shadow-inset-ffffff.png) repeat-x #fff;

		ul{
			padding-top: 20px;
		}

		li{
			margin: 5px;

			&:first-child{
				margin-left: 5px;
			}
		}

		a{
			background-color: #ddd;
		}
		.next,.prev{
			width: 20px;
			a{
				background: none;
			}
		}
	}
}

/* Modal */
.modal,#skrim{
	display: none;
	position: absolute;
}

#skrim{
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.7);
	left: 0;
	top: 0;
	z-index: 2;
}
.ie8 #skrim{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#aa000000, endColorstr=#aa000000);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#aa000000, endColorstr=#aa000000);
}
.modal{
	width: 630px;
	padding: 30px;
	margin: 0 0 0 -385px;
	background: #f7f7f7;
	z-index: 3;
	position: absolute;
	top: 50px;
	left: 50%;

	h3{
	    margin: 0 0 30px;
	    font: 22px/1 'DINCond Black',sans-serif;
	    color: #231F20;
	    text-transform: uppercase;		
	}

	@include tablet-landscape{
		@include box-sizing(border-box);
		width: 90%;
		margin-left: -45%;
		
		h3{
			margin-bottom: 10px;
		}
	}
}
#modal-gallery{
	position: fixed;
	width: auto;
	top: 50%;

	.cancel{
		width: 30px;
		height: 30px;
		background: red;
		font-weight: bold;
		font-size: 30px;
		line-height: 30px;
		color: #fff;
		text-align: center;
		background: red;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		@include single-transition(background-color);

		&:hover{ background: #333; }
	}
}
#modal-contact{
}
#modal-application{
}
#modal-franchise{
}
#modal-book-now{
}
#modal-newsletter{
}
#modal-quote-request{
}
#modal-share{
	width: 330px;
	margin-left: -180px;
}

/* Sliders */
.slides{
	height: 100%;
	position: relative;
	z-index: 1;
	@include clearfix;

	& > li{
		display: none;
		position: relative;
		z-index: 1;

		&:first-child{ display: block; }
	}
}
.flex-control-nav{
	width: 100%;
	line-height: 1;
	text-align: center;
	font-size: 0;
	position: absolute;
	bottom: 40px;
	z-index: 1;

	li{
		display: inline-block;
		margin-left: 15px;

		&:first-child{ margin-left: 0; }
	}
	a{
		display: block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #fff;
		cursor: pointer;
		text-indent: -9999px;
		overflow: hidden;
		@include single-transition(background-color);

		&.flex-active{ background-color: #5ea939; }
	}
}
.flex-direction-nav{
	a{
		display: block;
		height: 200px;
		width: 90px;
		border: 0;
		text-indent: -9999px;
		overflow: hidden;
		background: url(../images/ico-controls.png) no-repeat;
		position: absolute;
		top: 50%;
		margin-top: -100px;
		z-index: 1;

		&.flex-prev{
			left: 0;
			border-radius: 0 3px 3px 0;
			background-position: 40px center;
		}
		&.flex-next{
			right: 0;
			border-radius: 3px 0 0 3px;
			line-height: 200px;
			text-align: center;
			background-position: -50px center;
		}

		#banner &{
			opacity: .2;
			@include single-transition(opacity);

			&:hover{ opacity: 1; }
		}
	}

	@include tablet-landscape{
		// display: none;

		a{
			width: 50px;

			&.flex-prev{
				background-position: left center;
			}
		}
	}
}

.widget{

}

aside{
	.xoxo{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.widget-container{
		margin-top: 70px;
		border: 0;
		padding: 0;
		background: none;

		&:first-child{ margin-top: 0; }

		.widget-title{
			margin-bottom: 22px;
			border-bottom: 1px solid #d6d6d6;
			padding-bottom: 14px;
			font: 22px/32px 'DINCond Black', sans-serif;
			color: #231f20;
			text-transform: uppercase;
		}

		ul{
			margin: 0;
			padding: 0;
			list-style: none;

			ul{ 
				a{
					padding-left: 37px;
					&:before{ display: none; }
				}
			}
		}
		li{
			&.active,
			&.current-cat{
				color: #5ea939;
				a{
					color: #5ea939;
					cursor: default;

					&:before{ border-left-color: #5ea939; }
				}
			}
		}
		a{
			display: block;
			border: 0;
			padding-left: 23px;
			font: 16px/32px 'DINCond Black', sans-serif;
			color: #333;
			text-transform: uppercase;
			position: relative;
			@include single-transition(color);

			&:before{
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent;
				border-left: 10px solid #333;
				position: absolute;
				top: 9px;
				left: 0;
				@include single-transition(border-color);
			};

			&:hover{
				color: #5ea939;
				&:before{ border-left-color: #5ea939; }
			}
		}

		&.widget_sp_image,
		&.widget_featured_post_widget{
			a{
				padding: 0;
				text-transform: none;

				&:before{ display: none; }
			}
		}
		&.widget_jal_widget{
			.expanded{
				a{
					&:before{
						border-left: 7px solid transparent;
						border-right: 7px solid transparent;
						border-top: 10px solid #333;
					}
					&:hover{
						&:before{
							border-top-color: #5ea939;
						}
					}

				}
			}
		}

		&.widget_featured_post_widget{
			h4{
				margin: 0;

				a{
					display: block;
					border: 0;
					padding: 15px 0;
					font: normal 13px/22px Arial, sans-serif;
					background: url(../images/shadow-270w.png) no-repeat;
				}
			}
			h3 + h4 a{
				padding: 0;
				background: none;
			}
			&:hover a{ color: #5ea939; }
		}
		&.widget_text{
			.textwidget{ padding: 20px; }
			.button{
				display: block;
				width: auto;
				margin-top: 20px;
			}
		}
		&.widget_search{

			line-height: 24px;
			color: #999;
			text-align: right;
			vertical-align: middle;
			font-size: 14px;

			form{
				@include border-radius;
				font-size: 14px;
				line-height: 40px;
				color: #ccc;
				background: #eee;
				position: relative;

				label{
					position: absolute;
					left: 10px;
					top: 0;
				}

				input{
					border: 0;
					background: none;

					&[type="text"]{
						float: left;
						width: 270px;
						height: 40px;
						padding: 0 10px;
						line-height: 40px;
					}

					&[type="submit"]{
						width: 30px;
						height: 40px;
						text-indent: -9999px;
						background: url(../images/ico-magnifying-glass.png) no-repeat left center;
						&:focus + [type="submit"]{
							background-image: url(../images/ico-magnifying-glass-blue.png);
						}
					}
				}

			}

			.widget-title{ display: none; }
		}
		&.widget_sp_image,
		&.widget_featured_post_widget{
			.widget-title{ display: none; }
			.widget_sp_image-image-link,
			img{
				display: block;
				width: 270px;
				height: 270px;
			}
			.widget_sp_image-description{
				height: 42px;
				font: 16px/42px 'DINCond Black', sans-serif;
				color: #fff;
				text-align: center;
				text-transform: uppercase;
				background: #5ea939;

				&:after{
					content: '';
					display: block;
					height: 17px;
					background: url(../images/shadow-270w.png) no-repeat center center;
					background-size: cover;
				}
			}
		}
		&.widget_twitter{
			li + li{ margin-top: 40px; }
			.entry-content{
				display: block;
				width: auto;
				margin: 0;
				padding: 13px;
				font-size: 13px;
				line-height: 22px;
				background: #ddd;

				a{
					display: inline;
					padding: 0;
					font: 13px/22px arial, sans-serif;
					color: #5ea939;
					text-transform: none;
					&:before{ display: none; }
					&:hover{ color: #333; }
				}
			}
			.entry-meta{
				display: block;
				height: 42px;
				text-align: center;
				text-transform: uppercase;
				position: static;

				&:after{
					content: '';
					display: block;
					height: 17px;
					background: url(../images/shadow-270w.png) no-repeat;
				}

				a{
					padding-left: 50px;
					line-height: 42px;
					color: #fff;
					text-align: left;
					background: url("../images/ico-twitter.png") no-repeat 13px center #5ea939;
					@include single-transition(background-color);
					&:before{ display: none; }
					&:hover{ background-color: #333; }
				}
			}
		}
		&.book-download{
			.textwidget{
				h1, h2, h3, h4, h5, h6{
					font-size: 17px;
					line-height: 25px;
					margin: 15px 0 0;
				}
			}
		}
		&.RelatedPosts a{
			font: 13px/22px arial, sans-serif;
			text-transform: none;

			&:before{ top: 5px; }
		}
	}

    @include tablet-landscape{
    	.widget-container{
    		width: 90%;
    		padding: 15px 5% 0;
    		margin-top: 20px;
    		background: url(../images/bg-shadow-inset-ffffff.png) repeat-x #fff;

    		&:first-child{
    			margin-top: 20px;
    		}

	    	&.widget_featured_post_widget .widget_sp_image-description:after,
	    	&.widget_featured_post_widget h4 a,
	    	&.widget_twitter .entry-meta:after{
	    		background: none;
	    	}

	    	.widget-title{
	    		@extend .title-with-border;
	    	}

	    	&.RelatedPosts,
	    	&.widget_categories{
    			@extend .block-links;
	    	}

	    	&.widget_featured_post_widget{
	    		.widget-title{
	    			display: block;
	    		}
	    		img{
	    			width: 100%;
	    			height: auto;
	    		}
	    		h4 a{
	    			@extend .block-link;
	    		}
	    		&:hover a{ color: inherit; }
	    	}

	    	&.widget_sp_image{
				.widget_sp_image-image-link,
				img{
	    			width: 100% !important;
	    			height: auto !important;
	    			max-width: none !important;
	    			max-height: none !important;
	    		}
	    	}
    	}
	}
}

#related-posts{

	.inner{
		border-top: 1px solid #ddd;
		padding-top: 20px;
	}
		
	.entry-thumb{
		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.entry-title{ margin-top: 22px; }
	.entry-content{
		margin-top: 16px;
		font-size: 13px;
	}
	a{}
}

// Back to Top link
#back-to-top{
	display: block;
	width: 78px;
	border: 0;
	margin: 65px auto 0;
	font: bold 12px/22px arial, sans-serif;
	color: #ccc;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	@include single-transition(color);

	&:before{
		content: '^';
		display: block;
		width: 100%;
		font: bold 35px monospace, sans-serif;
		position: absolute;
		top: -25px;
	}

	&:hover{
		color: #5ea939;
	}

	@include tablet-landscape{
		padding-top: 50px;
		background: url(../images/back-to-top.png) no-repeat center top;

		&:before{
			display: none;
		}
	}
}

#site-footer{

	.widget{
		float: left;
		margin-left: 40px;

		&:first-child{
			margin-left: 0;
		}

		.widget-title{
			padding-bottom: 20px;
			border-bottom: 1px solid #ccc;
			margin: 0 0 13px;
		}

		.textwidget{
			width: 280px;
			font-size: 15px;
			line-height: 24px;
			color: #666;

			.alignleft{
				margin: 6px 20px 20px 0;
			}

			p{ margin: 0; }

			.button{
				clear: both;
				width: 100%;
			}
		}

		.menu{
			width: 160px;
			padding: 0;
			list-style: none;

			li{
				padding: 4px 0;
			}
		}

	}
}

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

